:root{
    --color-01: black; 
    --color-02: grey; 
    --color-03: white; 
    --color-04: rgb(0, 0, 80); 
    --color-05: blue; 
    --color-06: rgb(110, 110, 255); 
    
    --font-01: "Bai Jamjuree", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;


    font-family: var(--font-01);
    transition: .25s;
}

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: var(--color-01);
}
::-webkit-scrollbar-thumb{
    background-color: var(--color-05);
    border-radius: 10px;
    border: 1px solid var(--color-01);
}

html{
    scroll-behavior: smooth;
    scroll-padding: 50px;
}

*::selection{
    color: var(--color-05);
    text-shadow: none;
    background-color: var(--color-03);
}

@keyframes text-shadow {
    from {text-shadow: 0 0 10px var(--color-05);}
    to {text-shadow: 0 0 25px var(--color-05);}
}

@keyframes fluting {
    0%{transform: translateY(-20px);}
    100%{transform: translateY(20px);}
}
@keyframes box-shadow {
    0%{box-shadow: 0px 0px 10px var(--color-05);}
    100%{box-shadow: 0px 0px 30px var(--color-05);}
}

@keyframes border-radius {
    0% {border-radius: 29% 71% 69% 31% / 39% 34% 66% 61%;}
    50% {border-radius: 58% 42% 25% 75% / 68% 55% 45% 32%;}
    100% {border-radius: 29% 71% 69% 31% / 39% 34% 66% 61%;}
}

body{
    overflow-x: hidden;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(img/img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
    filter: brightness(10%);
}

.banner,
.footer__content{
    max-width: 1300px;
    margin: 0 auto;
}

.banner{
    padding: 0 75px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.banner__content{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: var(--color-05);
}

.banner__content p{
    font-size: 30px;
    font-weight: bold;
}

.banner__content h1{
    font-size: 90px;
    color: var(--color-03);
    letter-spacing: 2px;
    margin: 15px 25px 15px 0;
    animation: text-shadow 2s linear alternate infinite;
}

.banner__content .links{
    font-size: 25px;
}

.banner__content .links a{
    margin-right: 10px;
    color: var(--color-05);
}

.banner__content .links a:hover i{
    color: var(--color);
    text-shadow: 0 0 5px var(--color);
}

.banner__image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    padding: 25px 0 0 0;
    overflow: hidden;
    animation: border-radius 5s linear infinite,
                fluting 3s linear alternate infinite,
                box-shadow 1s linear alternate infinite;
}

.banner__image img{
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: .75;
}

.scrolldown-icon{
    position: absolute;
    top: calc(100vh - 100px);
    left: 50%;
    color: var(--color-05);
    font-size: 40px;
    animation: fluting 2s linear alternate infinite,
        text-shadow .5s linear alternate infinite;
}

.scrolldown-icon:hover{
    color: var(--color-03);
}

main{
    color: var(--color-03);
    display: flex;
    justify-content: center;
    gap:50px;
}

nav{
    position: sticky;
    top: 50px;
    left: 50px;
    width: 150px;
    height: min-content;
    border-radius: 25px;
    z-index: 10;
}

nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav a{
    padding: 10px 15px;
    display: block;
    color: var(--color-03);
    border-left: 2px solid var(--color-05);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    white-space: nowrap;
}

nav a i{
    font-size: 15px;
    margin-right: 5px;
}

nav a:hover{
    transform: translateX(5px);
    background-color: var(--color-05);
}


section{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.section__content{
    width: calc(100% - 100px);
    max-width: 1050px;
}

.about-me .section__content{
    animation: box-shadow 3s linear alternate infinite;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 25px;
    padding: 30px;
}

.about-me .section__text{
    text-align: justify;
    line-height: 30px;
}

.section__title{
    text-transform: uppercase;
    margin: 10px 0 25px 0;
    text-align: center;
}

.section__title h4{
    font-size: 14px;
    letter-spacing: 3px;
    color: var(--color-05);
    margin-bottom: 5px;
}

.section__title h4::before,
.section__title h4::after{
    content: ' - ';
}

.section__text{
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
}

.section__text strong{
    font-weight: 500;
    font-style: italic;
    color: var(--color-06);
}

.section__text a{
    color: var(--color-06);
    font-weight: 500;
    font-style: italic;
}

.section__text a:hover{
    text-decoration: underline;
    text-shadow: 0 0 5px var(--color-06);
}

.section__text a i{
    transition: 0s;
    font-size: 12px;
}

.formations .section__title{
    margin-bottom: 40px;
}

.formations-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.formations-list li{
    background-color: rgba(0, 0, 0, .4);
    border: 1px solid var(--color-05);
    border-radius: 10px;
    width: 500px;
    cursor: pointer;
}

.formations-list li a{
    padding: 20px;
    display: block;
    border-radius: 10px;
    color: var(--color-03);
}

.formations-list li:hover{
    background-color: var(--color-05);
}

.formations-list li h3{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.formations-list li h3 span{
    font-size: 12px;
    border: 1px solid var(--color-06);
    border-radius: 5px;
    padding: 3px 7px;
    color: var(--color-06);
    letter-spacing: 1px;
    height: min-content;
}

.formation-type{
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 20px;
}

.formation-institution{
    font-size: 15px;
    border-top: 1px solid var(--color-06);
    padding-top: 10px;
}

.formation-duration{
    font-size: 15px;
    font-weight: 200;
}

.skills-container{
    display: flex;
    gap: 100px;
    justify-content: center;
}

.skills-box h4{
    padding: 10px 25px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-04);
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid var(--color-05);
    margin-bottom: 10px;
    background-color: var(--color-05);
    cursor: pointer;
}

.skills-box h4:hover{
    color: var(--color-05);
    letter-spacing: 2px;
    background-color: var(--color-03);
    border-color: var(--color-03);
    font-weight: bold;
}

.skills-box h4:hover + .skills-list li{
    border: 1px solid var(--color-03);
}

.skills-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.skills-list li{
    padding: 0 50px;
    letter-spacing: 1px;
    font-size: 16px;
    border: 1px solid var(--color-05);
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.softskills-list li{
    height: 45px;
}

.hardskills-list li{
    height: 100px;
}

.skills-list li:hover{
    border-radius: 25px;
    animation: box-shadow 1s linear alternate infinite;
}

.github-link{
    font-size: 16px;
    color: var(--color-03);
    display: block;
    width: min-content;
    white-space: nowrap;
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid var(--color-05);
    background-color: var(--color-05);
}

.github-link:hover{
    letter-spacing: 2px;
    font-weight: bold;
}

.projects-list li{
    width: 100%;
    display: flex;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 25px;
    border: 2px solid var(--color-05);
}

.projects-list li:hover{
    animation: box-shadow 1s linear alternate infinite;
}

.projects-list li img{
    width: 250px;
    min-height: 200px;
    max-height: 400px;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: 2px solid var(--color-05);
    filter: brightness(.5);
}

.projects-list li:hover img{
    filter: brightness(1);
    width: 300px;
}

.project-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

.project-content h4{
    font-size: 20px;
}

.project-content p{
    font-size: 14px;
}

.project-content a{
    background-color: var(--color-04);
    color: var(--color-03);
    width: min-content;
    padding: 5px 25px;
    border-radius: 5px;
    white-space: nowrap;
    letter-spacing: 1px;
    font-size: 14px;
}

.project-content a:hover{
    background-color: var(--color-05);
}

.contact-list{
    display: flex;
    justify-content: center;
}

.contact-list li{
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.contact-list li:first-child{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.contact-list li:last-child{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.contact-list li:hover{
    background-color: var(--color-04);
}

.contact-list li:not(:last-child){
    border-right: 2px solid var(--color-05);
}

.contact-list li a{
    letter-spacing: 1px;
    color: var(--color-03);
    display: block;
    padding: 50px 0;
    transition: 0s;
    font-size: 14px;
}

.contact-list li a p{
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

.contact-list li a i{
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}

.contact-list li a:hover{
    font-weight: bold;
}


@media screen and (max-width: 1080px) {
    .banner__content h1{
        font-size: 75px;
    }

    .banner__image{
        height: 250px;
        width: 250px;
    }

    main{
        flex-direction: column;
    }

    nav{
        width: calc(100% - 100px);   
        background-color: var(--color-05);
    }

    nav ul{
        gap: 0;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 10px;
    }

    nav a{
        border: none;
        text-align: center;
    }

    nav a:hover{
        transform: translateY(-5px);
        background-color: transparent;
    }

    .formations-list li{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    nav ul{
        justify-content: center;
    }

    nav a{
        padding: 5px 10px;
    }
    
    .banner{
        padding: 75px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner__content h1,
    .banner__content .links a{
        margin: 10px;
    }
    
    .scrolldown-icon{
        display: none;
    }

    .skills-container{
        gap: 25px;
    }

    .skills-list li{
        padding: 0 25px;
    }

    .contact-list{
        flex-direction: column;
    }

    .contact-list li:first-child{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }
    
    .contact-list li:last-child{
        border-top-right-radius: 0;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .contact-list li:not(:last-child){
        border: none;
        border-bottom: 2px solid var(--color-05);
    }

    .contact-list li a{
        padding: 25px;
    }
}

@media screen and (max-width: 740px) {
    nav{
        display: none;
    }

    .banner__content h1{
        font-size: 60px;
    }

    .section__title h2{
        font-size: 20px;
    }

    .section__content{
        width: calc(100% - 50px);
    }

    .about-me .section__content{
        padding: 15px;
    }
    
    .about-me .section__text{
        font-size: 14px;
    }

    .skills-container{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    
    .skills-box{
        width: 80%;
    }

    .skills-list li{
        padding: 0 10px;
        line-height: 100%;
        
    }

    .projects-list{
        display: flex;
        gap: 25px;
        overflow-x: scroll;
        padding-bottom: 25px;
    }

    .projects-list li{
        width: min-content;
        flex-direction: column;
    }

    .projects-list li img{
        border-radius: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }  

    .projects-list li:hover img{
        width: 250px;
    }

    .project-content{
        height: 100%;
        justify-content: space-between;
        padding: 15px;
    }

    .project-content a{
        width: 100%;
        text-align: center;
        border-radius: 25px;
    }
}
